.home-main {
    margin-top: 100px; 
    padding-top: 120px; 
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-main h1, .home-main h2, .home-main h3 {
    color: #333; 
    margin: 10px 0;
    text-align: center;
}

.home-main p {
    text-align: center; 
    max-width: 800px; 
}
