header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0b4c75;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px; /* Adjust padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px; /* Reduce height */
}

.header-left {
    display: flex;
    align-items: center;
}

.header-center {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

header img {
    width: 50px; /* Reduce logo size */
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid #000;
}

header h1 {
    font-size: 1.8em; /* Reduce font size */
    margin: 0;
    padding: 0;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1em; /* Adjust link font size */
}

nav a:hover {
    text-decoration: underline;
}

.menu-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1em; /* Adjust button font size */
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    color: #000;
    list-style: none;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Asegura que el menú se abra en columnas */
}

.dropdown-menu li {
    margin: 5px 0;
}

.dropdown-menu a {
    color: #0b4c75;
    text-decoration: none;
}

.dropdown-menu a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
    header {
        height: 50px;
    }

    header img {
        width: 40px;
        height: 40px;
    }

    header h1 {
        font-size: 1.5em;
    }

    nav a {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    header img {
        width: 30px;
        height: 30px;
    }

    header h1 {
        font-size: 1.2em;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav a {
        font-size: 0.8em;
    }
}